@{
    ViewBag.Title = "Testing Center";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mike Fortier</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body class="main">

    <div id="top_fade"></div>

    <div class="container">
        <div class="row introduction">
            <div class="col-lg-12">
                <div>
                    <h1>
                        Hey there, I'm <a href="#" id="title">Mike Fortier</a>.
                    </h1>
                    <small class="pull-right">A recent graduate of <a href="#" id="subtitle">SAIT</a></small>
                    <div class="contact-info">
                        <a href="#" title="Github" id="github">
                            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                        </a>
                         
                        <a href="#" title="LinkedIn" id="linkedin">
                            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                        </a>

                        <a href="#" title="Email" id="email">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                        <br /> <br />
                    </div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend ex orci, non cursus erat egestas ac. In volutpat nunc eget congue rhoncus. Aenean sodales nisl volutpat turpis elementum sagittis. Sed sodales tincidunt diam, dapibus dignissim mauris pharetra a. Quisque in cursus neque. Nunc eleifend, turpis id congue porta, nulla sem accumsan libero, sit amet interdum leo tellus id lacus. Curabitur volutpat leo ligula.</p>

                <p>Vivamus ac dolor eget urna placerat finibus. Suspendisse porta risus leo, at auctor arcu mattis ac. In a pellentesque mi. Donec blandit libero lectus, vel vestibulum tortor pharetra eget. Praesent vehicula quis arcu id ullamcorper. Aenean quis dolor laoreet, porttitor tellus nec, consectetur enim. Sed massa quam, iaculis vitae volutpat sit amet, egestas nec tortor. Etiam semper, nisl consequat fringilla malesuada, tortor enim eleifend ante, sodales tempor nisl libero et ante.</p>

                <p>Aliquam eu sapien sit amet lorem vehicula molestie. Praesent vehicula mi id nisl ornare, ut mollis lorem semper. Donec hendrerit tortor vel quam convallis, id tempor nisl sodales. Donec quam enim, bibendum id imperdiet et, mattis ut turpis. Aenean eleifend dui vel dui sodales hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In malesuada vulputate est, id rutrum eros faucibus at. Vivamus ac tellus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam placerat at nulla et blandit. Donec tellus enim, pellentesque vel laoreet lacinia, consectetur at nulla. Morbi dignissim mi eu sapien ullamcorper, et vehicula tortor efficitur. Cras ac augue sollicitudin urna venenatis mattis.</p>

                <p>Duis tempus, erat ut commodo ornare, elit neque mattis urna, sed accumsan nisl mi eu ligula. Nunc placerat elementum ligula, at eleifend lorem hendrerit vitae. In scelerisque dolor sed urna imperdiet accumsan. Morbi rhoncus, magna sit amet lacinia ornare, lacus urna volutpat mi, in facilisis magna sem id est. Nunc vehicula lorem purus, ac semper nulla gravida vel. Phasellus semper euismod velit, eu lobortis nunc varius cursus. Etiam fermentum felis tortor, sed ullamcorper nulla laoreet laoreet. Nulla dictum ultrices sapien, non semper libero rhoncus eu. Nunc lacinia erat tristique varius egestas.</p>

                <p>Mauris id nisi vel massa convallis gravida ut id diam. Proin in tortor pretium tellus convallis porta non quis sem. Proin posuere turpis ac purus aliquet, vitae bibendum nulla vulputate. Cras in massa lorem. Morbi efficitur purus tellus, eget auctor enim vehicula a. Pellentesque aliquam lorem purus, ut lacinia massa molestie eu. Nam sed vestibulum tellus. Sed vel lorem lacinia leo pulvinar egestas. Cras sapien sem, consectetur at nibh vitae, tincidunt pulvinar nisl. Nulla euismod consectetur tortor, eget placerat erat dapibus vel. Quisque in efficitur ante, sit amet elementum nunc. Mauris id nulla in enim molestie posuere.</p>
            </div>
        </div>
    </div>

    <div id="bottom_fade"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>